@import url(//db.onlinewebfonts.com/c/6dbea0bf624bb924a50191d32dce3b7d?family=ITC+Bolt+Bold);
@font-face {
  font-family: "ITC Bolt Bold";
  src: url("//db.onlinewebfonts.com/t/6dbea0bf624bb924a50191d32dce3b7d.eot");
  src: url("//db.onlinewebfonts.com/t/6dbea0bf624bb924a50191d32dce3b7d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6dbea0bf624bb924a50191d32dce3b7d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6dbea0bf624bb924a50191d32dce3b7d.woff") format("woff"), url("//db.onlinewebfonts.com/t/6dbea0bf624bb924a50191d32dce3b7d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6dbea0bf624bb924a50191d32dce3b7d.svg#ITC Bolt Bold") format("svg"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  display: grid;
  height: 100%;
  background-color: black;
  grid-template-areas: "header" "main " "footer "; }
  .contenedor header {
    position: sticky;
    top: 0;
    z-index: 1;
    grid-area: header;
    display: flex;
    height: auto;
    background: black;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.93631) 32%, black 90%);
    margin: 15  px;
    padding: 15px;
    justify-content: space-between;
    align-items: center; }
    .contenedor header .navbar {
      width: 100%;
      height: 80px;
      --bs-navbar-toggler-border-color: rgba(255, 205, 41, 0.87);
      --bs-navbar-color: rgba(255, 205, 41, 0.2); }
    .contenedor header img {
      margin-left: 70px;
      width: 80px;
      height: 80px; }
    .contenedor header nav div div .navbar-nav {
      width: 100%; }
    .contenedor header nav div div ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5px;
      padding: 5px;
      flex-wrap: wrap; }
      .contenedor header nav div div ul li {
        margin: 5px; }
        .contenedor header nav div div ul li .botonAnimation {
          list-style-type: none;
          text-transform: uppercase;
          font-family: 'Josefin Sans', sans-serif;
          font-weight: 600;
          font-size: 12px;
          text-shadow: 0.5px 0.5px 2px black;
          background-color: transparent;
          border-radius: 5px;
          /* En la siguiente linea borre el 4to parametro de box shadow*/
          color: #FFCC29;
          margin: 3px;
          padding: 0.3rem;
          text-decoration: none; }
          .contenedor header nav div div ul li .botonAnimation:hover {
            color: #FFCC29 !important;
            text-shadow: 0.5px 0.5px 2px black;
            font-weight: 600;
            font-size: 17px;
            padding: 0.5em 1.2em;
            background: rgba(0, 0, 0, 0);
            border: 2px solid;
            border-color: #FFCC29;
            transition: all 0.5s ease;
            position: relative; }
  .contenedor main {
    grid-area: main;
    padding: 20px;
    background-image: url("../img/background2.png");
    background-size: cover;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black; }
  .contenedor footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1px;
    background-color: black; }
    .contenedor footer .infoFooter {
      text-align: center;
      margin: 5px; }
      .contenedor footer .infoFooter .nombreFooter {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        font-size: 15px;
        text-shadow: 2px 2px 5px black;
        letter-spacing: 1px;
        color: #FFCC29;
        margin: 0px; }
      .contenedor footer .infoFooter .copyright {
        color: #5c5e5c;
        font-size: 11px; }
    .contenedor footer div .redesSociales {
      display: flex;
      justify-content: center;
      padding-left: 0px; }
      .contenedor footer div .redesSociales li {
        list-style-type: none;
        margin: 5px;
        box-shadow: 1px 1px 9px #242424; }
        .contenedor footer div .redesSociales li:hover {
          transform: scale(1.2);
          transition: 0.3s; }
  .contenedor .mainIndex {
    height: auto;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-areas: "bv" "img" "parrafo";
    align-items: center;
    /*.imagenMain:hover {
        transform: scale(1.5);
        transition: 5s;
    }*/ }
    .contenedor .mainIndex .imagenMain {
      grid-area: img;
      justify-self: center; }
    .contenedor .mainIndex .bienvenidos {
      grid-area: bv;
      height: auto;
      font-family: "ITC Bolt Bold", serif;
      color: #cb263c;
      text-shadow: 0 0 10px rgba(86, 86, 86, 0.805);
      font-size: 1.7rem;
      align-self: center;
      justify-self: center; }
    .contenedor .mainIndex .tituloMain {
      display: none;
      grid-area: h1;
      padding: 0px;
      margin: 0;
      height: auto;
      font-family: "ITC Bolt Bold", serif;
      color: #FFCC29;
      align-self: end; }
    .contenedor .mainIndex .parrafoIndex {
      grid-area: parrafo;
      height: auto;
      margin: 10px;
      padding: 5px;
      width: 80%;
      background-color: rgba(0, 0, 0, 0.505);
      font-size: 15px;
      justify-self: center;
      text-align: center; }
  .contenedor .flexMain .mainBlog .tituloBlog, .contenedor .mainAct .divAct .tituloAct, .contenedor .mainNosotros div .datosPerfil, .contenedor .mainContacto .mainInfo .legend, .contenedor .mainContacto .mainForm .legend {
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    color: #cb263c;
    text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.495); }
  .contenedor .mainIndex .parrafoIndex, .contenedor .flexMain .mainBlog .pBlog, .contenedor .mainAct .divAct .pAct, .contenedor .mainContacto .mainForm .formulario {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: white; }
  .contenedor .flexMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url("../img/fondoBlog2.png"); }
    .contenedor .flexMain .mainBlog {
      display: grid;
      height: auto;
      grid-template-areas: "titulo" "img" "parrafo" "boton";
      width: 80%;
      margin: 8px;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.7);
      box-shadow: 0 0 6px #cb263c, inset 0 0 6px #FFCC29; }
      .contenedor .flexMain .mainBlog .imagenBlog {
        grid-area: img;
        height: 100%;
        width: 100%; }
      .contenedor .flexMain .mainBlog .tituloBlog {
        grid-area: titulo;
        font-size: 17px;
        text-align: center;
        padding-top: 2px; }
      .contenedor .flexMain .mainBlog .pBlog {
        grid-area: parrafo;
        margin: 10px;
        text-align: center;
        font-size: 0.8rem; }
      .contenedor .flexMain .mainBlog .seguirLeyendo {
        grid-area: boton;
        height: 30px;
        width: 100px;
        justify-self: center;
        padding-left: 4px;
        padding-right: 4px;
        background-color: transparent;
        border: 2px solid #FFCC29;
        border-radius: 5px;
        margin-bottom: 10px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 600; }
        .contenedor .flexMain .mainBlog .seguirLeyendo a {
          text-decoration: none;
          color: #cb263c;
          font-size: 10px;
          text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.696); }
        .contenedor .flexMain .mainBlog .seguirLeyendo:hover {
          transform: scale(1.1);
          background-color: #FFCC29;
          box-shadow: 0 0 5px #FFCC29; }
          .contenedor .flexMain .mainBlog .seguirLeyendo:hover a {
            color: black; }
      .contenedor .flexMain .mainBlog:hover {
        transform: scale(1.1);
        transition: 0.5s;
        background-color: black;
        box-shadow: 0 0 5px #cb263c, inset 0 0 5px #cb263c; }
  .contenedor .flexMain .mainBlog .tituloBlog, .contenedor .mainAct .divAct .tituloAct, .contenedor .mainNosotros div .datosPerfil, .contenedor .mainContacto .mainInfo .legend, .contenedor .mainContacto .mainForm .legend {
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    color: #cb263c;
    text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.495); }
  .contenedor .mainIndex .parrafoIndex, .contenedor .flexMain .mainBlog .pBlog, .contenedor .mainAct .divAct .pAct, .contenedor .mainContacto .mainForm .formulario {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: white; }
  .contenedor .mainAct {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    width: 100%;
    margin: 2px;
    padding: 20px;
    color: #FFCC29;
    background-color: rgba(0, 0, 0, 0.7); }
    .contenedor .mainAct .imagenAct {
      height: 180px;
      width: 180px;
      margin-left: 25px; }
    .contenedor .mainAct .divAct {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      text-align: center; }
      .contenedor .mainAct .divAct .pAct {
        margin: 10px; }
  .contenedor .mainNosotros {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contenedor .mainNosotros div {
      margin: 30px;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border: 1px #cb263c;
      border-radius: 2rem;
      box-shadow: 2px 2px 2px #cb263c; }
      .contenedor .mainNosotros div .fotoPerfil {
        width: 200px;
        height: 200px; }
      .contenedor .mainNosotros div .datosPerfil {
        text-align: center;
        font-size: 20px; }
  .contenedor .flexMain .mainBlog .tituloBlog, .contenedor .mainAct .divAct .tituloAct, .contenedor .mainNosotros div .datosPerfil, .contenedor .mainContacto .mainInfo .legend, .contenedor .mainContacto .mainForm .legend {
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    color: #cb263c;
    text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.495); }
  .contenedor .mainIndex .parrafoIndex, .contenedor .flexMain .mainBlog .pBlog, .contenedor .mainAct .divAct .pAct, .contenedor .mainContacto .mainForm .formulario {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: white; }
  .contenedor .mainContacto {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contenedor .mainContacto .mainInfo {
      margin: 2px;
      background-color: rgba(0, 0, 0, 0.7);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .contenedor .mainContacto .mainInfo .formulario {
        margin: 1px;
        display: flex;
        flex-direction: column;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 14px;
        color: white; }
    .contenedor .mainContacto .mainForm {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column; }
      .contenedor .mainContacto .mainForm .formulario {
        margin: 1px;
        display: flex;
        flex-direction: column; }
        .contenedor .mainContacto .mainForm .formulario .divForm {
          margin: 5px; }

@media screen and (min-width: 600px) {
  .contenedor header {
    height: auto; }
    .contenedor header nav ul {
      flex-direction: row;
      justify-content: flex-end; }
  .contenedor footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .contenedor .mainIndex {
    padding-top: 120px;
    padding-bottom: 120px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "img bv" " img h1" "img parrafo"; }
    .contenedor .mainIndex .imagenMain {
      margin-right: 5px;
      justify-self: end; }
    .contenedor .mainIndex .bienvenidos {
      height: 1.5rem;
      width: 160px;
      font-size: 1.2rem;
      justify-self: start; }
    .contenedor .mainIndex .tituloMain {
      display: block; }
    .contenedor .mainIndex .parrafoIndex {
      margin: 0;
      padding: 5px;
      width: 50%;
      justify-self: start;
      text-align: start; }
  .contenedor .flexMain {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../img/fondoBlog.png"); }
    .contenedor .flexMain .mainBlog {
      grid-template-areas: "img titulo" "img parrafo" "img boton";
      width: 40%;
      height: 300px;
      align-items: center; }
  .contenedor .mainAct {
    flex-direction: row;
    justify-content: space-around; }
    .contenedor .mainAct .imagenAct {
      width: 250px;
      height: 250px; }
  .contenedor .mainNosotros {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
    .contenedor .mainNosotros div .fotoPerfil {
      width: 300px;
      height: 300px; }
    .contenedor .mainNosotros div .datosPerfil {
      font-size: 30px; }
  .contenedor .mainContacto {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; } }
