@import "../base/mixin";
@import "../base/extend";

.mainContacto {
    @include flexColumn;
    background-image: url("../img/fondoContactos.png");
    


    .mainInfo {

        width: 80%;
        height: auto;
        margin-top: 30px;
        margin-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: 0 0 10px white;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .legend {
            @extend %estiloTitulo;
        }

        .formulario {
            margin: 1px;
            display: flex;
            flex-direction: column;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 14px;
            color: white;
        }

        .map{
            width: auto;
            height: 100%;
        }

    }

    .mainForm {

        padding: 10px;
        width: 80%;

        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: 0 0 10px white;

        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;

        div{
            textarea{
                width: 100%;
            }
        }

        .legend {
            @extend %estiloTitulo;
        }

        .formulario {
            margin: 1px;
            display: flex;
            flex-direction: column;
            @extend %estiloTexto;

            .divForm {
                margin: 5px;
            }
        }


    }
}