@import "../base/mixin";
@import "../base/extend";

.mainBlog {

    @include flexColumn;
    align-content: space-around;
    width: 100%;
    margin: 2px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);

    .imagenBlog {

        height: 180px;
        width: 180px;
        margin-left: 25px;
    }

    .divBlog {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;

        .tituloBlog {
            @extend %estiloTitulo;
        }

        .pBlog {
            margin: 10px;
            @extend %estiloTexto;
        }
    }
}