@import "../base/mixin";

.mainIndex {
    height: auto;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-areas: "bv"
                        "img"
                        "parrafo";
    
    align-items: center;

    .imagenMain{
        grid-area: img;
        justify-self: center;
    }

    .bienvenidos{
        grid-area: bv;
        height: auto;
        font-family: "ITC Bolt Bold", serif;
        color: #F46C32;
        text-shadow: 0 0 10px rgba(86, 86, 86, 0.805);
        font-size: 1.7rem;
        align-self: center;
        justify-self: center;
    }

    .tituloMain{
        display: none;
        grid-area: h1;
        padding: 0px;
        margin: 0;
        height: auto;
        font-family: "ITC Bolt Bold", serif;
        color: $color-fuente-principal;
        align-self: end;
    }

    .parrafoIndex{
        grid-area: parrafo;

        height: auto;
        margin: 10px;
        padding: 5px;
        width: 80%;
        
        @extend %estiloTexto;
        background-color: rgba(0, 0, 0, 0.505);
        font-size: 15px;
        justify-self: center;
        text-align: center;
    }

}