@media screen and (min-width:768px) {
    .contenedor {
        header {
            height: auto;



            nav {
                ul {
                    flex-direction: row;
                    justify-content: flex-end;

                }
            }
        }


        .mainIndex {
            padding-top: 120px;
            padding-bottom: 120px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "img bv"
                " img h1"
                "img parrafo";

            .imagenMain {
                margin-right: 5px;
                justify-self: end;

            }

            .bienvenidos {
                height: 1.5rem;
                width: 160px;
                font-size: 1.2rem;
                justify-self: start;
            }

            .tituloMain {
                display: block;
            }

            .parrafoIndex {
                margin: 0;
                padding: 5px;
                width: 90%;
                justify-self: start;
                text-align: start;
            }

        }

        .flexBlog {

            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            background-image: url("../img/fondoBlog.png");

            .mainBlog {


                width: 40%;
                height: 500px;
                align-items: center;

                .pBlog{
                    font-size: 0.5rem;
                }


            }
        }

        .flexAct{

            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            background-image: url("../img/fondoBlog.png");

            .mainAct{
                

                width: 40%;
                align-items: center;

                .horarios{  

                    .legendH{
                        font-size: 17px;
                    }

                    .dias{
                        font-size: 15px;
                    }

                    .horas{
                        font-size: 18px;
                    }
                }
            }
            

        }

        .mainNosotros {
            @include flexRow;

            .tarjeta {     
                width: 30%;
                
            }
        }

        .mainContacto{
            .mainInfo{
                width: 60%;

                .map{
                    align-self: center;
                    height: 300px;
                    width: 60%;
                }
            }

            .mainForm{
                width: 60%;

                div{
                    textarea{
                        width: 50%;
                        height: 100px;
                    }
                }
            }
        }

    }

}