%estiloTitulo {
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    color: $color-fuente-secundario;
    text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.495);
}

%estiloTexto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: white;
}

%colorFondoDegrade{
    background: rgb(148,26,29);
    background: linear-gradient(90deg, rgba(148,26,29,1) 0%, #353b3d 66%);
}