%estiloTitulo {
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    color: $color-fuente-secundario;
    text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.495);
}

%estiloTexto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: white;
}